@model IEnumerable<RajBugTracker.Models.Classes.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="ticket-table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriorty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>: 

            <td>
                @Html.DisplayFor(modelItem => item.TicketPriorty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
                @if (User.IsInRole("Developer"))
                 {
                    <td>
                     @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                    <td>
                     @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                 }
                @if (User.IsInRole("Admin"))
                 {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                 }
                @if (User.IsInRole("Project Manager"))
                 {
                    <td>
                        @Html.ActionLink("AssignUser", "AssignUser", new {ticketId = item.Id})
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new {id = item.Id})
                    </td>
                 }
        </tr>
        }
    </tbody>
</table>
