@model IEnumerable<RajBugTracker.Models.AssignedUsersViewModel>

@{
    ViewBag.Title = "View";
}

<h2>ViewUsers</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
       
    </tr>
}
    

</table>
<p> 
    @Html.ActionLink("List","Index")
</p>